# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.lst
*.png
*.gif
*.html
*.txt
*.css
*.properties
target/surefire-reports/jquery-1.7.1.min.js
target/surefire-reports/testng-reports.js
